<!-- <div class="card">
  <h5 class="card-header">Users</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-dark btn-lg">Exportar</button>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-secondary btn-lg">Actualizar</button>
        <button type="button" class="btn btn-primary btn-lg ms-2">Crear</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <users-table />
      </div>
    </div>
  </div>
</div> -->

<p-card header="Users">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
      <users-refresh />
      <users-create />
    </ng-template>
    <ng-template pTemplate="left">
      <users-export />
    </ng-template>
  </p-toolbar>
  <users-table />
</p-card>
