<p-table
    [columns]="columns"
    [value]="users"
    [paginator]="true"
    styleClass="p-datatable-striped "
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="rows"
    [rowsPerPageOptions]="rowsOptions"
    [showCurrentPageReport]="true"
    [sortField]="sortField" 
    [sortOrder]="sortOrder"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [customSort]="true"
    selectionMode="single"
    #dataTable
>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.field" style="width:20%">
                {{ column.header }} <p-sortIcon [field]="column.field" />
            </th>
        </tr>
        <tr>
            <th *ngFor="let column of columns">
                <p-columnFilter 
                    type="text" 
                    [field]="column.field" 
                    placeholder="Search by {{ column.header }}" 
                    ariaLabel="Filter by {{ column.header }}" 
                />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
</p-table>
