<p-table
    [value]="users"
    [paginator]="true"
    styleClass="p-datatable-striped "
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="rows"
    [rowsPerPageOptions]="rowsOptions"
    [showCurrentPageReport]="true"
    [sortField]="sortField" 
    [sortOrder]="sortOrder"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [customSort]="true"
    selectionMode="single"
    #dt
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" style="width:20%">
                ID <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="name" style="width:20%">
                Name <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="last_name" style="width:20%">
                Last name <p-sortIcon field="last_name" />
            </th>
            <th pSortableColumn="email" style="width:20%">
                Email <p-sortIcon field="email" />
            </th>
        </tr>
        <tr>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="id" 
                    placeholder="Search by id" 
                    ariaLabel="Filter ID" 
                />
            </th>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="name" 
                    placeholder="Search by name" 
                    ariaLabel="Filter Name" 
                />
            </th>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="last_name" 
                    placeholder="Search by last name" 
                    ariaLabel="Filter Last name" 
                />
            </th>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="email" 
                    placeholder="Search by email" 
                    ariaLabel="Filter Email" 
                />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{ users.id }}</td>
            <td>{{ users.name }}</td>
            <td>{{ users.last_name }}</td>
            <td>{{ users.email }}</td>
        </tr>
    </ng-template>
</p-table>
