<p-dialog
  header="Header"
  [(visible)]="showModal"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onClose()"
>
  <ng-template pTemplate="content">
    <h5>General data</h5>
    <form [formGroup]="form" (onClick)="onSubmit()">
      <div class="grid p-fluid mb-3">
        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input
              id="name"
              [ngClass]="{ 'ng-invalid ng-dirty': isValidField('name') }"
              type="text"
              pInputText
              formControlName="name"
            />
            <label for="name">Name: <strong>*</strong></label>
          </p-floatLabel>
          <small *ngIf="isValidField('name')">
            {{ getFieldError('name') }}
          </small>
        </div>
        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input
              id="last-name"
              [ngClass]="{ 'ng-invalid ng-dirty': isValidField('last_name') }"
              type="text"
              pInputText
              formControlName="last_name"
            />
            <label for="last-name">Last name: <strong>*</strong></label>
          </p-floatLabel>
          <small *ngIf="isValidField('last_name')">
            {{ getFieldError('last_name') }}
          </small>
        </div>
      </div>
      <div class="grid p-fluid mb-3">
        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input
              id="email"
              [ngClass]="{ 'ng-invalid ng-dirty': isValidField('email') }"
              type="email"
              pInputText
              formControlName="email"
            />
            <label for="email">Email: <strong>*</strong></label>
          </p-floatLabel>
          <small *ngIf="isValidField('email')">
            {{ getFieldError('email') }}
          </small>
        </div>
        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input
              id="password"
              [ngClass]="{ 'ng-invalid ng-dirty': isValidField('password') }"
              type="password"
              pInputText
              formControlName="password"
            />
            <label for="password">Password: <strong>*</strong></label>
          </p-floatLabel>
          <small *ngIf="isValidField('password')">
            {{ getFieldError('password') }}
          </small>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      (click)="onClose()"
      label="Close"
      severity="secondary"
    ></p-button>
    <p-button label="Save" (onClick)="onSubmit()" />
  </ng-template>
</p-dialog>
